.message-row {
  display: flex;
  width: 100%;
  margin: 10px 0;
}

.right {
  justify-content: flex-end;
}

.user-bubble {
  background: #ffe8c8;
  padding: 12px 16px;
  border-radius: 12px;
  max-width: 60%;
  font-size: 15px;
  line-height: 1.4;
}

.left {
  justify-content: flex-start;
}

.bot-bubble {
  background: #ffffff;
  border: 1px solid #f46d24;
  padding: 12px 16px;
  border-radius: 12px;
  max-width: 60%;
  font-size: 15px;
  line-height: 1.4;
}

.bot-bubble p {
  margin: 0;
  padding-left: 0;
  border-left: none;
}
